.chatting-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    height: 500px;
}

.chatting-box {
    height: 100%;
    background-color: #ABC0D1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.chatting-board {
    height: 100%;
    width: 100%;
    position: relative;

    padding: 15px;
    display: flex;
    flex-direction: column;

    overflow: auto;
}

.chatting-comments {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chatting-board::-webkit-scrollbar {
    display: none;
}

.chatting-form {
    display: flex;
    align-items: center;
}

.chatting-inputBox {
    position: relative;
    width: 100%;
}

.messageInput-input {
    width: 100%;
    padding: 13px 15px;
    font-size: 18px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
}

.messageInput-button {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    right: 0px;
    border: none;
    padding: 13px 10px;
    font-size: 18px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.chatting-loginBtnBox {
    background-color: whitesmoke;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.chatting-loginBtnBox span {
    font-size: 16px;
}

.chatting-loginBtnBox span strong {
    text-decoration: underline;
    cursor: pointer;
}

.comment-currentDate {
    margin: 14px 0;

    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.comment-wrapper {
    width: 100%;

    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.comment-wrapper__self {
    justify-content: flex-end;
}

.comment-wrapper__other {
    justify-content: flex-start;
}

.comment-profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(210, 214, 216);

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
}

.comment-createdAt {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
    margin: 0 -4px;
    white-space: nowrap;
  }

.comment-box {
    width: fit-content;
    max-width: 240px;
    word-break: break-all;
    padding: 12px 15px;
    border-radius: 15px;
}

.comment-box p {
    font-size: 16px;
}

.comment-box .delete-message {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.3)
}

.comment-box__self {
    background-color: antiquewhite;
    border-bottom-right-radius: 0;
}

.comment-box__other {    
    background-color: rgb(210, 214, 216);
    border-bottom-left-radius: 0;
}

.disabled {
    background-color: rgba(0, 0, 0, 0.1);
}

.comment-deleteBtn {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.6);
    border-radius: 7px;
}

.chat-toast__container {
    width: fit-content;
    padding: 8px 12px;
    border-radius: 999px;
    position: absolute;
    top: -25px;
    left: 50%; 
    transform: translate(-50%, -50%);
    animation: showToastMessage 0.5s linear forwards;
    
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
}

.hide-chat__toast {
    animation: hideToastMessage 0.5s linear forwards;
}

@keyframes showToastMessage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hideToastMessage {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#fetchMoreElement {
    margin-bottom: -10px;
}
