.chatting-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    height: 500px;
}

.chatting-box {
    height: 100%;
    background-color: #ABC0D1;
    border-radius: 15px;
    position: relative;
}

.chatting-board {
    height: 100%;
    width: 100%;
}

.chatting-inputBox {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.messageInput-input {
    width: 100%;
    padding: 13px 15px;
    font-size: 16px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 10px;
}

.messageInput-button {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    right: 0px;
    border: none;
    padding: 13px 10px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.chatting-loginBtnBox {
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.chatting-loginBtnBox span {
    font-size: 16px;
}

.chatting-loginBtnBox span strong {
    text-decoration: underline;
    cursor: pointer;
}