.sign-wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px;
    
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.sign-box {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.sign-form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.sign-inputText {
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.3);

    font-size: 18px;
    outline: none;
}

.sign-submitBtn {
    background-color: #3182F6;
    padding: 5px;
    border-radius: 6px;
    border: none;

    color: #FFFFFF;
    font-size: 18px;
}

.sign-textBtn {
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

.sign-textBtn:hover {
    text-decoration: underline;
    color: cornflowerblue;
}

.alert-text {
    text-align: center;
    font-size: 14px;
    color: #FF003E;
}