.nav {
    width: 100%;
    background-color: antiquewhite;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.nav-title {
    font-size: 18px;
    font-weight: 600;
}

.nav-btnBox {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-username {
    font-size: 16px;
}

.nav-signBtn {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-signBtn:hover {
    background-color: aliceblue;
}